html,
body,
#root {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #111927;
}

:root {
	--progress: 0;
}

.interface {
	font-family: "Poppins", sans-serif;
	font-size: 2rem;
	position: absolute;
	background-color: #111927;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 5s;
}

.interface.active {
	background-color: transparent;
}

.loading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.loader {
	position: relative;
}

.progress {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}

.circle {
	width: 150px;
	height: 150px;
	background: #ccc;
	border-radius: 50%;
	overflow: hidden;
}

.wave {
	position: relative;
	width: 100%;
	height: 100%;
	background: #4973ff;
	border-radius: 50%;
	box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
}

.wave::before,
.wave::after {
	content: "";
	position: absolute;
	width: 200%;
	height: 200%;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
}

.wave::before {
	border-radius: 40%;
	background: rgba(255, 255, 255, 1);
	animation: animate 15s linear infinite;
}

.wave::after {
	border-radius: 35%;
	background: rgba(255, 255, 255, 0.5);
	animation: animate 15s linear infinite;
}

@keyframes animate {
	0% {
		transform: translate(-50%, calc(var(--progress) * -60% - 50%)) rotate(0deg);
	}
	100% {
		transform: translate(-50%, calc(var(--progress) * -60% - 50%))
			rotate(360deg);
	}
}

button {
	cursor: pointer;
	border: none;
	padding: 1rem 2rem;
	background: none;
	color: #fff;
	font-size: 2rem;
	font-weight: bold;
	transition: opacity 0.5s;
	border-radius: 3rem;
	border: 1px solid white;
}

button:disabled {
	opacity: 0.1;
	cursor: not-allowed;
}

button:hover:not(:disabled) {
	border-color: rgba(255, 255, 255, 0.5);
}

button span {
	mix-blend-mode: difference;
}

button.dive {
	animation: fadeIn 2s ease-out forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
